<div class="order-measurement" [formGroup]="form">
  <div>
    <nz-form-control class="order-measurement__bzpvkPL1">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL1"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPL2">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL2"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPL3">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL3"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPL4">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL4"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPL5">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL5"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPL6">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL6"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPL7">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPL7"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
  </div>
  <div>
    <nz-form-control class="order-measurement__bzpvkPC1">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPC1"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPC2">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPC2"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPC3">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPC3"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPC4">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPC4"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
  </div>
  <div>
    <nz-form-control class="order-measurement__bzpvkPR1">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR1"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR2">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR2"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR3">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR3"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR4">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR4"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR5">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR5"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR6">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR6"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR7">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR7"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPR8">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPR8"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
  </div>
  <div>
    <nz-form-control class="order-measurement__bzpvkPB1">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPB1"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPB2">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPB2"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPB3">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPB3"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPB4">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPB4"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
    <nz-form-control class="order-measurement__bzpvkPB5">
      <nz-input-number [nzDisabled]="readonly" nzSize="small" formControlName="bzpvkPB5"
                       [nzMin]="0" [nzMax]="999" [nzParser]="measurementParser"></nz-input-number>
    </nz-form-control>
  </div>
</div>
