<div [formGroup]="form" class="sl-form-checkboxes" nz-form-item>
  <nz-form-control>
    <label
            nz-checkbox
            formControlName="acceptDataProcessing"
    >
      <span>Согласен на обработку данных</span>
    </label>
  </nz-form-control>
  <nz-form-control>
    <label
            nz-checkbox
            formControlName="acceptSms"
    >
      <span>Согласен на получение SMS-сообщений</span>
    </label>
  </nz-form-control>
  <nz-form-control>
    <label
            nz-checkbox
            formControlName="acceptOrthoses"
    >
      <span>Согласен на ортезирование</span>
    </label>
  </nz-form-control>
</div>
