<div nz-row class="report-page">
  <div class="report-page__tabs">
    <nz-tabset [nzSelectedIndex]="selectedTabIndex">
      <nz-tab nzTitle="График работы докторов">
        <sl-doctor-schedule></sl-doctor-schedule>
      </nz-tab>
      <nz-tab nzTitle="График работы докторов в кабинетах">
        <sl-room-schedule></sl-room-schedule>
      </nz-tab>
      <nz-tab nzTitle="График работы докторов в кабинетах на день">
        <sl-room-day-schedule></sl-room-day-schedule>
      </nz-tab>
      <nz-tab nzTitle="Таблица рабочего времени докторов">
        <sl-doctors-work-time-table></sl-doctors-work-time-table>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
