<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <nz-card class="form" [nzTitle]="title">
    <nz-spin [nzSpinning]="isBusy">
      <ng-template #title>
        <div nz-row [nzType]="'flex'" [nzGutter]="8" class="form__title">
          <div nz-col class="form__title__icon">
            <i class="anticon anticon-user"></i>
          </div>
          <div nz-col class="form__title__text">
            <span *ngIf="user; else newUser">
              Смена пароля пользователя {{user.abbreviatedName}}
            </span>
            <ng-template #newUser>
              <span>Создание нового пользователя</span>
            </ng-template>
          </div>
          <i class="anticon anticon-close form__close" (click)="close()"></i>
        </div>
      </ng-template>

      <div>
        <nz-popover>
          <label nz-popover class="sl-detail-help">Новый пароль*</label>
          <ng-template #nzTemplate>
            <sl-user-password-criteria></sl-user-password-criteria>
          </ng-template>
        </nz-popover>
        <nz-form-control>
          <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
            <input nz-input formControlName="password" [maxlength]="24" [type]="showPassword ? 'text' : 'password'"/>
          </nz-input-group>
          <ng-template #suffixIconButton>
            <div class="show-password"
                 (mousedown)="showPsw(true)"
                 (mouseup)="showPsw(false)"
                 (mouseleave)="showPsw(false)">
              <i class="anticon anticon-eye-o" *ngIf="!showPassword"></i>
              <i class="anticon anticon-eye" *ngIf="showPassword"></i>
            </div>
          </ng-template>
        </nz-form-control>
      </div>

      <div nz-row
           class="form__body__btn"
           nzType="flex"
           nzJustify="center"
           [nzGutter]="8">
        <div nz-col>
          <button type="submit" nz-button nzType="primary">
            <i class="anticon anticon-save"></i>
            <span>Сохранить</span>
          </button>
        </div>

        <div nz-col>
          <button type="button" nz-button (click)="close()">
            <i class="anticon anticon-close"></i>
            <span>Отмена</span>
          </button>
        </div>
      </div>
    </nz-spin>
  </nz-card>
</form>
