<div nz-form [formGroup]="form" nzType="flex" class="arc-list-form">
    <div nz-row nzJustify="end">
      <div nz-col nzSpan="24" *ngFor="let measurement of form.get('measurements')['controls']; let $index = index" class="measurement-list">
        <div nz-row nzJustify="end">
          <button nz-button
                  class="measurement-name"
                  (click)="measureAngle(rows[$index].index)"
                  nzSize="small"
                  nzType="dashed">{{rows[$index].name}}</button>
        </div>
        <div *ngFor="let col of columns">
          <div nz-row
               nzSpan="8"
               nzType="flex"
               nzJustify="start"
               class="measurement-row" >
            <div nz-col nzSpan="8">
              <nz-form-label>{{col.name}}</nz-form-label>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-control>
                <div *ngIf="col.field === 'value'">
                  <input disabled="true" nz-input nzSize="small" class="measurement-value-input" [formControl]="measurement.get(col.field)" nzAllowClear>
                  <button nz-button nz-tooltip nzSize="small" class="clear-angle-button" (click)="clearAngleValue(rows[$index].index)">
                    <i class="anticon anticon-close-circle"></i>
                  </button>
                </div>
                <nz-select *ngIf="col.type === 'select' && col.field != 'rotation'" nzSize="small" class="measurement-select" nzPlaceHolder="" [formControl]="measurement.get(col.field)" nzAllowClear>
                  <ng-container *ngFor="let type of vertebraType">
                    <nz-option [nzValue]="type" [nzLabel]="type"></nz-option>
                  </ng-container>
                </nz-select>
                <div nz-row *ngIf="col.type === 'select' && col.field === 'rotation'">
                  <nz-select nzSize="small" class="measurement-torsia-input" nzPlaceHolder="" [formControl]="measurement.get(col.field)" nzAllowClear>
                    <ng-container *ngFor="let rotation of rotationType">
                      <nz-option [nzValue]="rotation" [nzLabel]="rotation"></nz-option>
                    </ng-container>
                  </nz-select>
                  <nz-tooltip [nzTitle]="'Подсчет торсии'" nzPlacement="right">
                    <button nz-button nz-tooltip class="measurement-torsia-button" (click)="measureTorsian(rows[$index].index)" nzSize="small">
                      <i class="anticon anticon-retweet"></i>
                    </button>
                  </nz-tooltip>
                </div>
               </nz-form-control>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
