<form [formGroup]="form" slScrollToFirstInvalid [slForm]="form" slScrollContainer=".ant-modal-wrap">
  <nz-card [nzTitle]="title" [nzExtra]="extra">
    <ng-template #title>
      <div nz-row [nzType]="'flex'" [nzGutter]="8" class="form__title">
        <div nz-col class="form__title__icon">
          <i class="anticon anticon-schedule"></i>
        </div>
        <div nz-col class="form__title__text">
          Изготовление корсета № {{device.number}}
        </div>
        <i class="anticon anticon-close form__close" (click)="closeForm()"></i>
      </div>
    </ng-template>
    <ng-template #extra>
      <div>
        Дата приема: {{ visitsManager.selected.dateTime | date : 'dd.MM.yyyy' }}
      </div>
      <div>
        Принял: {{ visitsManager.selected.doctor?.name  || '-' }}
      </div>
    </ng-template>
    <nz-spin [nzSpinning]="isBusy">
      <sl-order-progress [currentStep]="getCurrentStep()" [manufacturing]="manufacturingProgress" [schema]="schema"></sl-order-progress>
    </nz-spin>
  </nz-card>
  <nz-spin [nzSpinning]="isBusy">
    <nz-card class="form">
      <div nz-row>
        <div nz-col [nzSpan]="12">
          <sl-corset-device-measurement formControlName="measurementData"></sl-corset-device-measurement>
        </div>
        <div nz-col [nzSpan]="12">
          <sl-corset-order formControlName="corsetData" [device]="device"></sl-corset-order>
        </div>
      </div>
      <sl-corset-order-term formControlName="productionTime"></sl-corset-order-term>
    </nz-card>

    <nz-card>
      <sl-order-model formControlName="modelData"
                      (deviceReadyEvent)="deviceReadyEventHandler($event)"
                      (makingEvent)="makingEventEventHandler($event)">
      </sl-order-model>
    </nz-card>
    <nz-card>
      <sl-order-manufacturing (deviceControlledEvent)="deviceControlledEventHandler($event)"
                              formControlName="manufacturingData"
                              [schema]="schema"
                              [is3DModelReady]="form.value.modelData?.is3DModelReady">
      </sl-order-manufacturing>
    </nz-card>
    <nz-card [hidden]="!form.value.manufacturingData?.isControlled">
      <sl-order-issue (deviceIssuedEvent)="deviceIssuedEventHandler($event)"
                      formControlName="issueData">
      </sl-order-issue>
    </nz-card>
    <nz-card>
      <div nz-row nzType="flex" style.width="100%">
        <div nz-col [nzSpan]="6">
          <button type="button" nz-button target="_blank" (click)="openPrintOrder()"  nzType="primary">
            <i class="anticon anticon-printer"></i>
          </button>
        </div>
        <div nz-col [nzSpan]="18">
          <div nz-row nzJustify="end" class="form__actions">
            <span class="save-message" *ngIf="isImported">Нельзя сохранить импортированный бланк</span>
            <button [nzSize]="'large'" nzType="primary" nz-button (click)="saveClick()" [disabled]="isImported">Сохранить</button>
            <button type="button" [nzSize]="'large'" nzType="default" nz-button (click)="closeForm()">Отмена</button>
          </div>
        </div>
      </div>
    </nz-card>
  </nz-spin>
</form>
